<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<meta name="MobileOptimized" content="320" /> -->

	<meta name='viewport' content='width=1190'>
		<title/>

	<!-- MANDATORY STYLES -->
		<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
		
		<!-- PAGE LEVEL STYLES -->
		
		<!-- THEME STYLES -->
		<link href="assets/css/style-acternity.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/plugins.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/themes/tiger.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/pages/search.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link href="assets/css/acternity-dtd.css" rel="stylesheet" type="text/css" />
	</meta>
</head>

<style>
.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: -2px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.container {
	width: 1000px;
	max-width: none !important;
}
</style>

<body >
<div class="container" style="width: 770px !important;" >
	<div class="page-container ">
			<!-- BEGIN PAGE -->
		<div class="pageContent" style="padding-bottom:50px;">
			<form>
				<div class="row">
					<div class="col-sm-12">
						<div class="row form-group" >
							<div class="col-sm-12">
								<P ALIGN="CENTER" STYLE="margin-top: 0.12in; margin-bottom: 0in">
								<FONT FACE="Arial narrow, sans-serif" color="RED" size="4">Security Disclaimer</FONT></P>
							</div>
						</div>
						<div class="row form-group" >
							<div class="col-sm-12">
								<P ALIGN="JUSTIFY" STYLE="margin-bottom: 0in">
								<STRONG><FONT FACE="Arial narrow, sans-serif"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: #ffffff">SpiceJet prohibits the carriage of any Prohibited items,
								 such as dangerous good or special cargo. Dangerous Goods include, but are not limited to items that may be determined by SpiceJet at its sole discretion to be harmful and dangerous to heath,
								 safety and/or property. For details of prohibited items please refer to the SpiceJet Terms & Conditions and to the according IATA Regulations.
								</SPAN></SPAN></FONT></STRONG></P>
							</div>
						</div>
						<div class="row form-group" >
							<div class="col-sm-12">
								<P ALIGN="LEFT" STYLE="margin-bottom: 0in"><FONT FACE="Arial narrow, sans-serif" size="2" style="font: bold;">PROHIBITED ITEMS</FONT></P>
							</div>
						</div>
						<div class="row form-group" >
							<div class="col-sm-2">
								<img src="../images/AVI.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/Battery.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/CarboChemie.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/Cites.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/Dangerous.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/Farblack.png" alt="" class="img80px" />
							</div>
						</div>
						<div class="row form-group" >
							<div class="col-sm-2">
								<img src="../images/Firework.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/Magnetized.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/Perishables.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/Streichholz.png" alt="" class="img80px" />
							</div>
							<div class="col-sm-2">
								<img src="../images/Valuable.png" alt="" class="img80px" />
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Aircraft on ground (AOG)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Articles of species listed in CITES (PEA)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Cargo aircraft only (CAO)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Corrosive (RCM)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Cryogenic liquids (RCL)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Dangerous goods (DGD / RMD)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Dangerous when wet (RFW)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Diplomatic mail (DIP)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Dry ice (ICE)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Explosives (RCX / REX / RGX / RXB / RXC / RXE / RXD / RXG / RXS)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Fish/Seafood (PES)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Flammables (RFL / RFS / RFG)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Flowers (PEF)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Foodstuffs (EAT)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Frozen goods (FRO / FRI)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Fruits/Vegetables (PEP)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Harmful - stow away from foodstuffs (RHF)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Hatching eggs (HEG)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Heavy cargo (HEA)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Human remains (HUM)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Infectious substance (RIS)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Live animal (AVI)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Living human organs/blood (LHO)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Magnetized material (MAG)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Living human organs/blood (LHO)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Magnetized material (MAG)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Meat (PEM)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Munitions of war (MUW)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Non-flammable compressed gas (RNG)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Obnoxious cargo (OBX)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Organic peroxide (ROP)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Outsized (BIG)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Overhang item (OHG)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Oxidizer (ROX)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Perishable cargo (PER)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Poison (RPB / RPG)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Polymeric beads expandable (RSB)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Radioactive material (RRW / RRY)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Shipments of wet material (WET)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Spontaneously combustible (RSC)</FONT></P>
								</div>
							</div>
						</div>
						
						<div class="row form-group" >
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Undeveloped/Unexposed film (FIL)</FONT></P>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-1">
									<img src="../images/deleteM.png" alt="" class="img20px" />
								</div>
								<div class="col-sm-10">
									<P ALIGN="LEFT"><FONT FACE="Arial narrow, sans-serif">Valuable cargo (VAL)</FONT></P>
								</div>
							</div>
						</div>
				
						<div class="col-custom">
							<p style="margin-top: 38px">
							<div location="checkBox" style="display:inline;"></div> 
								I confirm that I have read and understood this notice and there are no Prohibited Items in my Door to Door, Express or Regulare Cargo Shipments.
							</p>
						</div>
						<div class="col-custom">
							<div location="submitButton" style="display:inline;float:right"></div>
						</div>
						
						
					</div>
				</div>
				
			</form>
    	</div>
   	</div>
</div>
    	<script src="assets/plugins/bootstrap/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>